.first_ {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4);
    height: 100vh;
    overflow: hidden;
}
.txt-br-div {
    height: 60vh;
    width: 300px;
    background-image: linear-gradient(to right, #af4bda, #853549);
    margin: auto;
    border-radius: 10px;
    display: flex;
}
.txt-div {
    height: 59vh;
    width: 295px;
    background-color: #9796f0;
    border-radius: 10px;
    margin-top: 5px auto;
    margin: 3px 0 2.5px 2.5px;
}
.an-img {
    margin-left: 60px;
}

.btn__ {
    margin-top: 10px;
    margin-bottom: 40px
}
.img-ft {
    height: 200px;
    border-radius: 10px;
}
.pic-div {
    margin-top: 10px;
}
.sp-div {
    width: 280px;
    margin: auto;
}
.f-img-div {
    margin-top: 20px
}
.an-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 20px;
}
.an-img_ {
    margin-left: 90px;
}

@media (max-width: 375px) {
    .txt-br-div {
        height: 50vh;
        width: 300px;
        background-image: linear-gradient(to right, #af4bda, #853549);
        margin: auto;
        border-radius: 10px;
        display: flex;
    }
    .txt-div {
        height: 49vh;
        width: 295px;
        background-color: #9796f0;
        border-radius: 10px;
        margin-top: 5px auto;
        margin: 3px 0 2.5px 2.5px;
    }
}